src/Peregrine/__pycache__/__init__.cpython-312.pyc
src/Peregrine/__pycache__/atom.cpython-312.pyc
src/Peregrine/__pycache__/molecule.cpython-312.pyc
tests/__pycache__/__init__.cpython-312.pyc
tests/__pycache__/test_molecule.cpython-312-pytest-8.4.1.pyc
