src/Peregrine/__pycache__/
src/Peregrine/__pycache__/moleculeset.cpython-312.pyc
tests/__pycache__/
tests/__pycache__/test_moleculeset_ReadORCA6Output.cpython-312-pytest-9.0.3.pyc
data/testing_data/ReadORCA6Outputs/